.block_content_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: block;
  width: auto;
  margin: 0 auto 20px;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize !important;
  letter-spacing: 0;
  color: #000;
  font-family: "Marcellus",sans-serif;
}

.top_categories {
  padding-top: 100px;
}
