.navbar_container {
  background-image: url("../assets/header_img.jpg");
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(248, 244, 240);
  min-height: 320px;
}

.sub_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.container_header_links {
  padding: 84px 0px;
}
