.home_filters {
  display: flex;
  border: 1px solid #e5e5e5;
  padding: 20px;
  flex-direction: column;
  margin: 30px;
}

.sub_home_filters_ul {
  padding-top: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sub_home_filters_ul li {
  display: inline-block;
}

.home_filters a {
  text-decoration: none;
}

.sub_home_filters {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.home_filters_title {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 20px;
  position: relative;

  padding: 10px 0;
  line-height: 25px;
  margin: 0;
  text-transform: capitalize;
  font-family: "Marcellus", sans-serif;
}

.home_filters_title a {
  color: #222;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}
