.button {
  padding: 10px 0px;
  max-width: 150px;
  background-color: #636b57;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: 0.5px;
  color: white;
}

.button:hover{
  cursor: pointer;
}
